body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f36b3c;
}

nav {
    background-color: #838283;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li {
    position: relative;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color:rgb(237, 232, 220);
    text-decoration: none;
}

.menu li a:hover {
    background-color:#EF9651;
}

.submenu {
    display: none;
    position: absolute;
    background-color:#f36b3c;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu li:hover .submenu {
    display: block;
}

div {
    color: rgb(237, 232, 220);
    margin-right: 200px;
    text-align: justify;
}

h4 {
    background-color: #f15a29;
    color: rgb(237, 232, 220);
    writing-mode: vertical-rl;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 400px;
    padding: 15px;
}

.appIeab {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.buttons .primeiro {
    margin-left: 470px;
}

.buttons {
    width: 200px;
    height: auto;
    cursor: pointer;
    display: flex;
    gap: 20px;
    align-items: center;
}