body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color:#f36b3c;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li {
    position: relative;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color:rgb(237, 232, 220);
    text-decoration: none;
}

.menu li a:hover {
    background-color:rgb(193, 207, 161);
}

.submenu {
    display: none;
    position: absolute;
    background-color:rgb(165, 182, 141);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li:hover .submenu {
    display: block;
}

img {
    border-radius: 4px;
    padding: 5px;
    width: 1500px;
}

h5 {
    color: #959595;
    text-align: center;
}

h1 {
    color: #f36b3c;
    text-align: center;
}

.home {
    background-color: #f36b3c;
    list-style-type: none;
    display: inline-flex;
    display: block;
}

.home img {
    width: 80px;
    image-resolution: ;
}

.home h1 {
    color: #f2f1f1;
}