body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color:#f36b3c;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li {
    position: relative;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color:rgb(237, 232, 220);
    text-decoration: none;
}

.menu li a:hover {
    background-color:#EF9651;
}

.submenu {
    display: none;
    position: absolute;
    background-color:#f36b3c;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu li:hover .submenu {
    display: block;
}

img {
    max-width: 100%;
}

h5 {
    color: #959595;
    text-align: center;
}

h1 {
    color: #f36b3c;
    text-align: center;
}

.home {
    background-color: #f36b3c;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    gap: 20px;
}

.home img {
    width: 80px;
    align-items: center;
}

.home h1 {
    color: #f2f1f1;
}

.home h5 {
    color: #f2f1f1;
}