body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color:#f36b3c;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li {
    position: relative;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color:rgb(237, 232, 220);
    text-decoration: none;
}

.menu li a:hover {
    background-color:#EF9651;
}

.submenu {
    display: none;
    position: absolute;
    background-color:#f36b3c;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu li:hover .submenu {
    display: block;
}

img {
    width: 1823px;
}

h1 {
    text-align: center;
    color: #f36b3c;
}

.igrejas {
    background-color: #f36b3c;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 20px;
    gap: 20px;
}

input[type="search"] {
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
}