body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color:#f36b3c;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li {
    position: relative;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color:rgb(237, 232, 220);
    text-decoration: none;
}

.menu li a:hover {
    background-color:#EF9651;
}

.submenu {
    display: none;
    position: absolute;
    background-color:#f36b3c;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu li:hover .submenu {
    display: block;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    color: #f36b3c;
}

.igrejas {
    background-color: #f36b3c;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 20px;
    gap: 20px;
}

input[type="search"] {
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;

}

input[type="search"]::placeholder {
    color: #f36b3c;
}

form {
    display: flex;
    justify-content: center;
}

button {
    background-color: #f36b3c;
    border-radius: 20px;
    border: none;
    color: #f2f1f1;
    cursor: pointer;
    
}

button:hover {background-color: #EF9651}

.igrejas {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
    gap: 10px; /* Adiciona um espaço entre a barra e o botão */
    margin-top: 20px;
    width: 60%;
    
}