body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color:#f36b3c;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li {
    position: relative;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color:rgb(237, 232, 220);
    text-decoration: none;
}

.menu li a:hover {
    background-color:#EF9651;
}

.submenu {
    display: none;
    position: absolute;
    background-color:#f36b3c;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu li:hover .submenu {
    display: block;
}

img {
    max-width: 100%;
}

h1 {
    color: #f36b3c;
    text-align: center;
    margin-top: 3%;
}

h2 {
    color: #f36b3c;
    text-align: left;
}

h3 {
    color: #f2f1f1;
    text-align: left;
}

h4 {
    color: #f2f1f1;
    text-align: left;
    margin: 2%;
    text-align: justify;
}

.sobreNos {
    background-color: #f36b3c;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 20px;
}

.sobreNos h1 {
    color: #f2f1f1;
}

.sobreNos h5 {
    color: #f2f1f1;
}